#watermark{
    position:absolute;
    z-index:0;
    background:white;
    display:block;
    min-height:50%;
    min-width:50%;
    color:yellow;
}

#content{
    position:absolute;
    z-index:1;
}

#watermark-text
{
    color:lightgrey;
    font-size:30px;
    transform:rotate(300deg);
    -webkit-transform:rotate(300deg);
}
<<<<<<< HEAD

.rubber {
    box-shadow: 0 0 0 3px blue, 0 0 0 2px blue inset;
    border: 2px solid transparent;
    border-radius: 4px;
    display: inline-block;
    padding: 5px 2px;
    line-height: 22px;
    color: blue;
    font-size: 24px;
    font-family: 'Black Ops One', cursive;
    text-transform: uppercase;
    text-align: center;
    opacity: 0.4;
    width: 155px;
    transform: rotate(-5deg);
}
=======
>>>>>>> 62e464b (initial add)
