<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="NSUK Payments is a payments portal for Nasarawa State University Keffi where students can make payments online">
    <meta name="keywords" content="nsuk payments, portal mastercard visa, web app">
    <meta name="author" content="techvibes international ltd">
    <link rel="icon" th:href="@{/assets/images/favicon.png}" type="image/x-icon">
    <link rel="shortcut icon" th:href="@{/assets/images/favicon.png}" type="image/x-icon">
    <title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE">
        Qampus Pay
    </title>
    <!-- Google font-->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&amp;display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap" rel="stylesheet">
    <!-- Font Awesome-->
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/fontawesome.css}">
    <!-- ico-font-->
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/icofont.css}">
    <!-- Themify icon-->
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/themify.css}">
    <!-- Flag icon-->
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/flag-icon.css}">
    <!-- Feather icon-->
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/feather-icon.css}">

    <!-- Page CSS -->
    <div layout:fragment="page-css">
        <p>page css goes here.</p>
    </div>
    <!-- Bootstrap css-->
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/bootstrap.css}">

    <!-- Plugins css start-->
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/datatables.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/datatable-extension.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/select2.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/sweetalert2.css}">
    <!-- Plugins css Ends-->

    <!-- Bootstrap css-->
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/bootstrap.css}">

    <!-- Plugins css start-->
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/daterange-picker.css}">
    <!-- App css-->
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/style.css}">
    <link id="color" rel="stylesheet" th:href="@{/assets/css/color-1.css}" media="screen">
    <!-- Responsive css-->
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/responsive.css}">

    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/nsukmfb.css}">
</head>
<body>
<!-- Loader starts-->
<div class="loader-wrapper">
    <div class="theme-loader">
        <div class="loader-p"></div>
    </div>
</div>
<!-- Loader ends-->
<!-- page-wrapper Start-->
<div class="page-wrapper" id="pageWrapper">
    <!-- Page Header Start-->
    <div th:replace="fragments/topbar :: page-header" />
    <!-- Page Header Ends                              -->
    <!-- Page Body Start-->
    <div class="page-body-wrapper horizontal-menu">
        <!-- Page Sidebar Start-->
        <header class="main-nav">
            <div class="sidebar-user text-center"><a class="setting-primary" href="javascript:void(0)"><i data-feather="settings"></i></a><img class="img-90 rounded-circle" th:src="@{/assets/images/dashboard/1.png}" alt="">
                <div class="badge-bottom"><span class="badge badge-primary">Profile</span></div><a th:href="@{/account/profile}">
                    <h6 class="mt-3 f-14 f-w-600"><span sec:authentication="principal.names">Name</span></h6></a>
                <p class="mb-0 font-roboto"><span sec:authentication="name">Username</span></p>
            </div>
            <div th:replace="fragments/sidebar :: page-sidebar" />
        </header>
        <!-- Page Sidebar Ends-->
        <div layout:fragment="content">
            <p>page content goes here.</p>
        </div>
        <!-- footer start-->
        <footer class="footer">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-6 footer-copyright">
                        <p class="mb-0">Copyright 2021-22 © NSUK MFB.</p>
                    </div>
                    <div class="col-md-6">
                        <p class="pull-right mb-0">Powered by Techvibes Int'l Ltd.</p>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</div>
<!-- latest jquery-->
<script th:src="@{/assets/js/jquery-3.5.1.min.js}"></script>
<!-- feather icon js-->
<script th:src="@{/assets/js/icons/feather-icon/feather.min.js}"></script>
<script th:src="@{/assets/js/icons/feather-icon/feather-icon.js}"></script>
<!-- Sidebar jquery-->
<script th:src="@{/assets/js/sidebar-menu.js}"></script>
<script th:src="@{/assets/js/config.js}"></script>
<!-- Bootstrap js-->
<script th:src="@{/assets/js/bootstrap/popper.min.js}"></script>
<script th:src="@{/assets/js/bootstrap/bootstrap.min.js}"></script>
<!-- Plugins JS start-->

<script th:src="@{/assets/js/datepicker/daterange-picker/moment.min.js}"></script>
<script th:src="@{/assets/js/datepicker/daterange-picker/daterangepicker.js}"></script>
<script th:src="@{/assets/js/datepicker/daterange-picker/daterange-picker.custom.js}"></script>
<!-- Plugins JS start-->

<script th:src="@{/assets/js/datatable/datatables/jquery.dataTables.min.js}"></script>
<script th:src="@{/assets/js/datatable/datatable-extension/dataTables.buttons.min.js}"></script>
<script th:src="@{/assets/js/datatable/datatable-extension/jszip.min.js}"></script>
<script th:src="@{/assets/js/datatable/datatable-extension/buttons.colVis.min.js}"></script>
<script th:src="@{/assets/js/datatable/datatable-extension/pdfmake.min.js}"></script>
<script th:src="@{/assets/js/datatable/datatable-extension/vfs_fonts.js}"></script>
<script th:src="@{/assets/js/datatable/datatable-extension/dataTables.autoFill.min.js}"></script>
<script th:src="@{/assets/js/datatable/datatable-extension/dataTables.select.min.js}"></script>
<script th:src="@{/assets/js/datatable/datatable-extension/buttons.bootstrap4.min.js}"></script>
<script th:src="@{/assets/js/datatable/datatable-extension/buttons.html5.min.js}"></script>
<script th:src="@{/assets/js/datatable/datatable-extension/buttons.print.min.js}"></script>
<script th:src="@{/assets/js/datatable/datatable-extension/dataTables.bootstrap4.min.js}"></script>
<script th:src="@{/assets/js/datatable/datatable-extension/dataTables.responsive.min.js}"></script>
<script th:src="@{/assets/js/datatable/datatable-extension/responsive.bootstrap4.min.js}"></script>
<script th:src="@{/assets/js/datatable/datatable-extension/dataTables.keyTable.min.js}"></script>
<script th:src="@{/assets/js/datatable/datatable-extension/dataTables.colReorder.min.js}"></script>
<script th:src="@{/assets/js/datatable/datatable-extension/dataTables.fixedHeader.min.js}"></script>
<script th:src="@{/assets/js/datatable/datatable-extension/dataTables.rowReorder.min.js}"></script>
<script th:src="@{/assets/js/datatable/datatable-extension/dataTables.scroller.min.js}"></script>
<script th:src="@{/assets/js/datatable/datatable-extension/dataTables.filterColumns.js}"></script>
<script th:src="@{/assets/js/datatable/datatable-extension/custom.js}"></script>
<script th:src="@{/assets/js/select2/select2.full.min.js}"></script>
<script th:src="@{/assets/js/select2/select2-custom.js}"></script>
<script th:src="@{/assets/js/sweetalert.js}"></script>
<script th:src="@{/assets/js/global-sweetalert.js}"></script>
<script th:src="@{/assets/js/tooltip-init.js}"></script>
<!-- Plugins JS Ends-->
<!-- Theme js-->
<script th:src="@{/assets/js/script.js}"></script>

<!--<script th:src="@{/assets/js/theme-customizer/customizer.js}"></script>-->

<script th:src="@{/assets/js/theme-customizer/customizer.js}"></script>

<script th:src="@{/assets/js/cryptojs-min.js}"></script>
<!-- login js-->
<!-- Plugin used-->
<!-- Page Scripts -->
<div layout:fragment="page-scripts">
    <p>page scripts goes here.</p>
</div>
</body>
</html>
