<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/admin4">

<head>
    <title>Roles</title>
</head>
<body>
<main id="js-page-content" role="main" class="page-content" layout:fragment="content">
    <ol class="breadcrumb page-breadcrumb">
        <li class="breadcrumb-item"><a th:href="@{/dashboard}">Home</a></li>
        <li class="breadcrumb-item active">Roles</li>
        <li class="position-absolute pos-top pos-right d-none d-sm-block"><span class="js-get-date"></span></li>
    </ol>
    <div class="subheader">
        <h1 class="subheader-title">
            <i class='subheader-icon fal fa-table'></i> Roles
        </h1>
    </div>
    <div class="row">
        <div class="col-xl-12">
            <div id="panel-1" class="panel">
                <div class="panel-hdr">
                    <h2 sec:authorize="hasAnyRole('ROLE_CAN_ADD_ROLE')">
                        <button type="button" class="btn btn-primary" onclick="add();">Add New</button>
                    </h2>
                    <div class="panel-toolbar">
                        <button class="btn btn-panel" data-action="panel-collapse" data-toggle="tooltip" data-offset="0,10" data-original-title="Collapse"></button>
                        <button class="btn btn-panel" data-action="panel-fullscreen" data-toggle="tooltip" data-offset="0,10" data-original-title="Fullscreen"></button>
                        <button class="btn btn-panel" data-action="panel-close" data-toggle="tooltip" data-offset="0,10" data-original-title="Close"></button>
                    </div>
                </div>
                <div class="panel-container show">
                    <div class="panel-content">
                        <div id="appToasts"></div>

                        <!-- datatable start -->
                        <table id="dt-basic-example" class="table table-bordered table-hover table-striped w-100">
                            <thead>
                            <tr>
                                <th>Name</th>
                                <th>Description</th>
                                <th>Type</th>
                                <th>Last Updated</th>
                                <th>Status</th>
                                <th>Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="role: ${roles}">
                                <td th:text="${role.name}" />
                                <td th:text="${role.description}" />
                                <td th:text="${role.roleType}" />
                                <td th:text="${role.updatedAt}" />
                                <td>
                                    <span class="badge badge-success badge-pill" th:if="${role.active}">Enabled</span>
                                    <span class="badge badge-secondary badge-pill" th:if="${not role.active}">Disabled</span>
                                </td>
                                <td>
                                    <a href='javascript:void(0);' th:attr="onclick=|findRole('${role.id}')|"
                                       class='btn btn-sm btn-outline-primary mr-2' title='Edit' sec:authorize="hasAnyRole('ROLE_CAN_ADD_ROLE')">
                                        <i class="fal fa-edit"></i></a>
                                    <a th:href="@{('/settings/roles/permissions/' + ${role.uuid})}"
                                       class='btn btn-sm btn-outline-success mr-2' title='Permissions' sec:authorize="hasAnyRole('ROLE_CAN_ADD_ROLE')">
                                        <i class="fal fa-thumbs-up"></i></a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <!-- datatable end -->

                        <!-- Modal Right -->
                        <div id="saveModal" class="modal fade default-example-modal-right" tabindex="-1" role="dialog" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-right">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title h4"><span id="modalTitle">Edit Role</span></h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true"><i class="fal fa-times"></i></span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="card mb-5">
                                            <div class="card-body p-3">

                                                <div class="fw-300 mb-0">
                                                    <form id="saveForm" method="post">
                                                        <div id="inputItems">
                                                            <div class="form-schoolGroup">
                                                                <label class="form-label" for="name">Name</label>
                                                                <input type="text" id="name" name="name"
                                                                       class="form-control" required>
                                                            </div>
                                                            <div class="form-schoolGroup">
                                                                <label class="form-label" for="description">Description</label>
                                                                <input type="text" id="description"
                                                                       name="description" class="form-control" required>
                                                            </div>
                                                            <div class="form-schoolGroup">
                                                                <label class="form-label" for="roleType">Role Type</label>
                                                                <select class="form-control" id="roleType" name="roleType" required>

                                                                </select>
                                                            </div>
                                                        </div>

                                                        <div class="row">
                                                            <div class="col text-right">
                                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                                <button id="btnSubmit" type="submit" class="btn btn-primary">Save</button>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<div layout:fragment="page-scripts">
    <!-- datatble responsive bundle contains:
	+ jquery.dataTables.js
	+ dataTables.bootstrap4.js
	+ dataTables.autofill.js
	+ dataTables.buttons.js
	+ buttons.bootstrap4.js
	+ buttons.html5.js
	+ buttons.print.js
	+ buttons.colVis.js
	+ dataTables.colreorder.js
	+ dataTables.fixedcolumns.js
	+ dataTables.fixedheader.js
	+ dataTables.keytable.js
	+ dataTables.responsive.js
	+ dataTables.rowgroup.js
	+ dataTables.rowreorder.js
	+ dataTables.scroller.js
	+ dataTables.select.js
	+ datatables.styles.app.js
	+ datatables.styles.buttons.app.js -->
    <script th:src="@{/assets/js/datagrid/datatables/datatables.bundle.js}"></script>
    <script th:inline="javascript">
        /*<![CDATA[*/
        var serverContext = /*[[@{/}]]*/ 'Server Context';
        var roles = [[${roles}]];
        var roleTypes = [[${roleTypes}]];

        $(document).ready(function()
        {
            // initialize datatable
            $('#dt-basic-example').dataTable({
                responsive: true
            });

            $('#saveForm').submit(function(event) {
                save(event);
            });
        });

        function add() {
            $("#modalTitle").html('Add Role');
            reInitiateModal();

            $("#saveForm").attr("action", serverContext + "settings/roles/add");
            $("#saveModal").modal()
        }

        function reInitiateModal() {
            $("#id").val('');
            $("#name").val('');
            $("#description").val('');
            $("#active").val('');

            var options = '';
            $.each(roleTypes, function( index, item ){
                options = options + '<option value="' + item + '">' + item + '</option>';
            });
            $("#roleType").html(options);

            if ($('#activeDiv').length > 0) {
                $('#activeDiv').remove();
            }
        }

        function save(event){
            event.preventDefault();

            $("#btnSubmit").prop("disabled", true);
            var postUrl = $("#saveForm").attr("action");
            var formData= $("#saveForm").serialize();

            $.post(postUrl,formData ,function(data){
                $("#btnSubmit").prop("disabled", false);
                if(data.message == "success"){
                    $('#saveModal').modal('hide');
                    url = serverContext + "settings/roles";
                    sweetAlert('Congratulations!', 'The role was saved successfully', 'success', 3000, false, false, false, url );
                }
            }).fail(function(data) {
                $("#btnSubmit").prop("disabled", false);
                sweetAlert('Whoops!', data.responseJSON.message, 'error', 3000, false, false, false);
            });
        }

        function findRole(id) {
            var role = searchArrayObjectById(id, roles);

            $("#modalTitle").html('Edit Role');
            $("#name").val(role.name);
            $("#description").val(role.description);

            $("#saveForm").attr("action", serverContext + "settings/roles/edit");
            $('#saveForm').append('<input type="hidden" name="id" value="' + role.id + '" />');

            var options = '<option disabled="disabled">Please select one</option>';
            $.each(roleTypes, function( index, item ){
                if(role.roleType === item){
                    options = options + '<option value="' + item + '" selected>' + item + '</option>';
                } else{
                    options = options + '<option value="' + item + '">' + item + '</option>';
                }
            });
            $("#roleType").html(options);

            var activeDiv = $(document.createElement('div')).attr("id", "activeDiv").attr("class", "form-schoolGroup");

            var statusDiv = '<label class="form-label" for="active">Status</label>';
            statusDiv += '<select class="form-control" id="active" name="active" required>';
            options = '';
            var  statuses = [{'key': 'Enabled', 'value': true}, {'key': 'Disabled', 'value': false}];
            $.each(statuses, function( index, item ){
                if(role.active == item.value){
                    options = options + '<option value="' + item.value + '" selected>' + item.key + '</option>';
                } else{
                    options = options + '<option value="' + item.value + '">' + item.key + '</option>';
                }
            });
            statusDiv += options + '</select>';

            activeDiv.after().html(statusDiv);
            activeDiv.appendTo("#inputItems");

            $("#saveModal").modal()
        }

        $('#saveModal').on('hidden.bs.modal', function () {
            reInitiateModal();
        })

        /*]]>*/
    </script>

</div>

</body>
</html>
