<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/admin4">

<head>
    <title>Role Permissions</title>
</head>
<body>
<main id="js-page-content" role="main" class="page-content" layout:fragment="content">
    <ol class="breadcrumb page-breadcrumb">
        <li class="breadcrumb-item"><a th:href="@{/dashboard}">Home</a></li>
        <li class="breadcrumb-item"><a th:href="@{/settings/roles}">Roles</a></li>
        <li class="breadcrumb-item active"><span th:text="${rolePermissionsDto.name}">Permission</span> Permissions</span></li>
        <li class="position-absolute pos-top pos-right d-none d-sm-block"><span class="js-get-date"></span></li>
    </ol>
    <div class="subheader">
        <h1 class="subheader-title">
            <i class='subheader-icon fal fa-thumbs-up'></i> <span th:text="${rolePermissionsDto.name}">Permission</span> Permissions</span>
        </h1>
    </div>
    <div class="row">
        <div class="col-xl-12">
            <div id="panel-1" class="panel">
                <div class="panel-hdr">
                    <h2>Permissions</h2>
                    <div class="panel-toolbar">
                        <button class="btn btn-panel" data-action="panel-collapse" data-toggle="tooltip" data-offset="0,10" data-original-title="Collapse"></button>
                        <button class="btn btn-panel" data-action="panel-fullscreen" data-toggle="tooltip" data-offset="0,10" data-original-title="Fullscreen"></button>
                        <button class="btn btn-panel" data-action="panel-close" data-toggle="tooltip" data-offset="0,10" data-original-title="Close"></button>
                    </div>
                </div>
                <div class="panel-container show">
                    <div class="panel-content">
                        <div id="appToasts"></div>
                        <form id="saveForm" th:action="@{('/settings/roles/permissions/' + ${rolePermissionsDto.uuid})}"
                              method="post" th:object="${rolePermissionsDto}">

                            <!-- datatable start -->
                            <table id="dt-basic-example" class="table table-bordered table-hover table-striped w-100">
                                <thead>
                                <tr>
                                    <th></th>
                                    <th>Name</th>
                                    <th>Description</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="permission: ${permissions}">
                                    <td>
                                        <input type="checkbox" th:field="*{selectedPermissions}" th:value="${permission.name}" />
                                    </td>
                                    <td th:text="${permission.name}" />
                                    <td th:text="${permission.description}" />
                                </tr>
                                </tbody>
                            </table>
                            <!-- datatable end -->

                            <div class="row">
                                <div class="col text-right">
                                    <button type="button" class="btn btn-secondary back" >Back</button>
                                    <button id="btnSubmit" type="submit" class="btn btn-primary">Save</button>
                                </div>
                            </div>

                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<div layout:fragment="page-scripts">
    <!-- datatble responsive bundle contains:
	+ jquery.dataTables.js
	+ dataTables.bootstrap4.js
	+ dataTables.autofill.js
	+ dataTables.buttons.js
	+ buttons.bootstrap4.js
	+ buttons.html5.js
	+ buttons.print.js
	+ buttons.colVis.js
	+ dataTables.colreorder.js
	+ dataTables.fixedcolumns.js
	+ dataTables.fixedheader.js
	+ dataTables.keytable.js
	+ dataTables.responsive.js
	+ dataTables.rowgroup.js
	+ dataTables.rowreorder.js
	+ dataTables.scroller.js
	+ dataTables.select.js
	+ datatables.styles.app.js
	+ datatables.styles.buttons.app.js -->
    <script th:src="@{/assets/js/datagrid/datatables/datatables.bundle.js}"></script>
    <script th:src="@{/assets/js/bancoremit.js}"></script>
    <script th:inline="javascript">
        /*<![CDATA[*/
        var serverContext = /*[[@{/}]]*/ 'Server Context';

        $(document).ready(function()
        {
            // initialize datatable
            $('#dt-basic-example').dataTable({
                responsive: true,
                paging: false
            });

            $('#saveForm').submit(function(event) {
                save(event);
            });

            $(".back").click(function() {
                window.history.back();
            });
        });

        function save(event){
            event.preventDefault();

            $("#btnSubmit").prop("disabled", true);
            var postUrl = $("#saveForm").attr("action");
            var formData= $("#saveForm").serialize();

            $.post(postUrl,formData ,function(data){
                $("#btnSubmit").prop("disabled", false);
                if(data.message == "success"){
                    url = serverContext + "settings/roles";
                    sweetAlert('Congratulations!', 'The permissions were updated successfully', 'success', 3000, false, false, false, url );
                }
            }).fail(function(data) {
                $("#btnSubmit").prop("disabled", false);
                sweetAlert('Whoops!', data.responseJSON.message, 'error', 3000, false, false, false);
            });
        }

        /*]]>*/
    </script>

</div>

</body>
</html>
