<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/admin3">
<head>
    <title>Role Permissions</title>
</head>
<body>
<div class="page-body" layout:fragment="content">
    <div class="container-fluid">
        <div class="page-header">
            <div class="row">
                <div class="col-sm-6">
                    <h3>Roles</h3>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a th:href="@{/dashboard}">Home</a></li>
                        <li class="breadcrumb-item"><a th:href="@{/settings/roles}">Roles</a></li>
                        <li class="breadcrumb-item active">Permissions</li>
                    </ol>
                </div>
                <div class="col-sm-6">
                    <!-- Bookmark Start-->
                    <!-- Bookmark Ends-->
                </div>
            </div>
        </div>
    </div>
    <!-- Container-fluid starts-->
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <form id="saveForm" th:action="@{('/settings/roles/permissions/' + ${rolePermissionsDto.uuid})}"
                              method="post" th:object="${rolePermissionsDto}">
                            <div class="dt-ext table-responsive">
                                <table class="display" id="list-entities">
                                    <thead>
                                    <tr>
                                        <th></th>
                                        <th>Name</th>
                                        <th>Description</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="permission: ${permissions}">
                                        <td>
                                            <input type="checkbox" th:field="*{selectedPermissions}" th:value="${permission.name}" />
                                        </td>
                                        <td th:text="${permission.name}" />
                                        <td th:text="${permission.description}" />
                                    </tr>
                                    </tbody>
                                    <tfoot>
                                    <tr>
                                        <th></th>
                                        <th>Name</th>
                                        <th>Description</th>
                                    </tr>
                                    </tfoot>
                                </table>
                            </div>
                            <div class="row">
                                <div class="col text-right">
                                    <button type="button" class="btn btn-secondary back" >Back</button>
                                    <button id="btnSubmit" type="submit" class="btn btn-primary">Save</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Container-fluid Ends-->
</div>
<div layout:fragment="page-scripts">
    <script th:src="@{/assets/js/nsukmfb.js}"></script>
    <script th:inline="javascript">
        /*<![CDATA[*/
        var serverContext = /*[[@{/}]]*/ 'Server Context';
        var permissions = [[${permissions}]];

        $(document).ready(function()
        {
            // initialize datatable
            $('#list-entities').dataTable({
                responsive: true,
                paging: false
            });

            $('#saveForm').submit(function(event) {
                save(event);
            });

            $(".back").click(function() {
                window.history.back();
            });
        });

        function save(event){
            event.preventDefault();

            $("#btnSubmit").prop("disabled", true);
            var postUrl = $("#saveForm").attr("action");
            var formData= $("#saveForm").serialize();

            $.post(postUrl,formData ,function(data){
                $("#btnSubmit").prop("disabled", false);
                if(data.message == "success"){
                    url = serverContext + "settings/roles";
                    sweetAlert('Congratulations!', 'The permissions were updated successfully', 'success', 3000, false, false, false, url );
                }
            }).fail(function(data) {
                $("#btnSubmit").prop("disabled", false);
                sweetAlert('Whoops!', data.responseJSON.message, 'error', 3000, false, false, false);
            });
        }

        /*]]>*/
    </script>
</div>
</body>
</html>
