<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/admin4">

<head>
    <title>Dashboard</title>
</head>
<body>
<main id="js-page-content" role="main" class="page-content" layout:fragment="content">
    <ol class="breadcrumb page-breadcrumb">
        <li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
        <li class="breadcrumb-item active">Dashboard</li>
        <li class="position-absolute pos-top pos-right d-none d-sm-block"><span class="js-get-date"></span></li>
    </ol>
    <div class="subheader">
        <h1 class="subheader-title">
            <i class='subheader-icon fal fa-chart-area'></i> Patients
        </h1>
    </div>


    <div class="row" id="dashboardCards"></div>
    <div class="row">
        <div class="col-lg-12">
            <div id="panel-4" class="panel">
                <div class="panel-hdr">
                    <h2 sec:authorize="hasAnyRole('ROLE_CAN_ADD_PATIENT')">
                        <button type="button" class="btn btn-primary" onclick="add();">Add New</button>
                    </h2>
                </div>
                <div class="panel-container show">
                    <div class="panel-content">
                        <table id="dt-basic-example" class="table table-bordered table-hover table-striped w-100">
                            <thead class="bg-warning-200">
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">Name</th>
                                <th scope="col">Email</th>
                                <th scope="col">Date Created</th>
                                <th scope="col">Type</th>
                                <th scope="col">Phone</th>
                                <th scope="col">&nbsp;</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="patient: ${patients}">
                                <td class="f-w-600" th:text="${patient?.patientId}" />
                                <td th:text="${patient?.surname}" />
                                <td th:text="${patient?.email}" />
                                <td th:text="${patient?.createdAt}" />
                                <td th:text="${patient?.patientType}" />
                                <td th:text="${patient?.phone}" />
                                <td><a href="#"
                                       class='btn btn-sm btn-outline-primary mr-2' title='Schedules' >
                                    <i class="fal fa-briefcase"></i></a></td>
                            </tr>
                            </tbody>
                        </table>
                        <!-- datatable end -->
                        <!-- Modal Right -->
                        <div id="saveModal" class="modal fade default-example-modal-right" tabindex="-1" role="dialog" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-right">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title h4"><span id="modalTitle">Add Patient</span></h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true"><i class="fal fa-times"></i></span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="card mb-5">
                                            <div class="card-body p-3">

                                                <div class="fw-300 mb-0">
                                                    <form id="saveForm" method="post">
                                                        <div class="form-schoolGroup">
                                                            <label class="form-label" for="patient_id">Patient ID</label>
                                                            <input type="text" id="patient_id" name="patientId"
                                                                   class="form-control" required>
                                                        </div>
                                                        <div class="form-schoolGroup">
                                                            <label class="form-label" for="firstname">First Name</label>
                                                            <input type="text" id="firstname" name="firstname"
                                                                   class="form-control" required>
                                                        </div>
                                                        <div class="form-schoolGroup">
                                                            <label class="form-label" for="surname">Surname</label>
                                                            <input type="text" id="surname" name="surname"
                                                                   class="form-control" required>
                                                        </div>
                                                        <div class="form-schoolGroup">
                                                            <label class="form-label" for="phone">Phone</label>
                                                            <input type="text" id="phone" name="phone"
                                                                   class="form-control">
                                                        </div>
                                                        <div class="form-schoolGroup">
                                                            <label class="form-label" for="email">Email</label>
                                                            <input type="email" id="email" name="email"
                                                                   class="form-control" >
                                                        </div>
                                                        <div class="form-schoolGroup">
                                                            <label class="form-label" for="patient_type">Patient Type</label>
                                                            <select id="patient_type" name="patientType" class="form-control" >
                                                                <option>INPATIENT</option>
                                                                <option>OUTPATIENT</option>
                                                            </select>
                                                        </div>
                                                        <div class="form-schoolGroup">
                                                            <label class="form-label" for="address">Address</label>
                                                            <input type="text" id="address"
                                                                   name="address" class="form-control" required>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col text-right">
                                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                                <button id="btnSubmit" type="submit" class="btn btn-primary">Save</button>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<div layout:fragment="page-scripts">
    <script th:inline="javascript">
        /*<![CDATA[*/
        var serverContext = /*[[@{/}]]*/ 'Server Context';
        var dashboardCardHeader = '<div class="col-sm-6 col-xl-3"><div class="p-3 bg-primary-300 rounded overflow-hidden position-relative text-white mb-g">';
        dashboardCardHeader = dashboardCardHeader + '<div class=""><h6 class="display-4 d-block l-h-n m-0 fw-500">';
        var dashboardCardFooter = '</h6></div><i class="fal fa-users position-absolute pos-right pos-bottom opacity-15 mb-n1 mr-n1" style="font-size:6rem"></i>';
        dashboardCardFooter = dashboardCardFooter + '</div></div>';
        var dashboardDataCount = 2;
        var activeBankTransferProviderConfig = [[${activeBankTransferProviderConfig}]];

        $(document).ready(function()
        {
            getDashboardData();

            $('.currency').each(function(i, obj) {
                var num = $(this).text();
                $(this).html(new Intl.NumberFormat('en-NG', { style: 'currency', currency: 'NGN' }).format(num))
            });
        });

        function getDashboardData() {
            const url = serverContext + "miscellaneous/dashboard-data";
            let dashboardCardHtml = '';
            $.get(url ,function(data){
                dashboardCardHtml = dashboardCardHtml + getDataHTML('Doctors', data.studentsCount, 0, "fa-users");
                dashboardCardHtml = dashboardCardHtml + getDataHTML('Back-office Users', data.backofficeUsersCount, 1, "fa-users");
                $("#dashboardCards").append(dashboardCardHtml);
            }).fail(function(data) {
                console.log('unable to retrieve dashboard data: ' + JSON.stringify(data));
            });
        }

        function getDataHTML(title, value, color, icon) {
            return dashboardCardHeader.replace("bg-primary-300", getColor(color)) + value
                + '<small class="m-0 l-h-n">' + title + '</small>' + dashboardCardFooter.replace("fa-users", icon);
        }

        function getColor(color) {
            switch (color) {
                case 0:
                    color = "bg-primary-300";
                    break;
                case 1:
                    color = "bg-warning-400";
                    break;
                case 2:
                    color = "bg-success-200";
                    break;
                case 3:
                    color = "bg-info-200";
                    break;
            }

            return color;
        }
        /*]]>*/
    </script>

    <script type="text/javascript">
        /* Activate smart panels */
        $('#js-page-content').smartPanel();

    </script>
    <!-- The order of scripts is irrelevant. Please check out the plugin pages for more details about these plugins below: -->
    <script th:src="@{/assets/js/statistics/peity/peity.bundle.js}"></script>
    <script th:src="@{/assets/js/statistics/flot/flot.bundle.js}"></script>
    <script th:src="@{/assets/js/statistics/easypiechart/easypiechart.bundle.js}"></script>
    <script th:src="@{/assets/js/datagrid/datatables/datatables.bundle.js}"></script>
    <script>

        $(document).ready(function()
        {

            /* init datatables */
            $('#dt-basic-example').dataTable(
                {
                    responsive: true,
                    dom: "<'row mb-3'<'col-sm-12 col-md-6 d-flex align-items-center justify-content-start'f><'col-sm-12 col-md-6 d-flex align-items-center justify-content-end'B>>" +
                        "<'row'<'col-sm-12'tr>>" +
                        "<'row'<'col-sm-12 col-md-5'i><'col-sm-12 col-md-7'p>>",
                    buttons: [
                        {
                            extend: 'colvis',
                            text: 'Column Visibility',
                            titleAttr: 'Col visibility',
                            className: 'btn-outline-default'
                        },
                        {
                            extend: 'csvHtml5',
                            text: 'CSV',
                            titleAttr: 'Generate CSV',
                            className: 'btn-outline-default'
                        },
                        {
                            extend: 'copyHtml5',
                            text: 'Copy',
                            titleAttr: 'Copy to clipboard',
                            className: 'btn-outline-default'
                        },
                        {
                            extend: 'print',
                            text: '<i class="fal fa-print"></i>',
                            titleAttr: 'Print Table',
                            className: 'btn-outline-default'
                        }

                    ]

                });



        });

    </script>
    <script th:inline="javascript">
        /*<![CDATA[*/
        var serverContext = /*[[@{/}]]*/ 'Server Context';
        var patients = [[${patients}]];

        $(document).ready(function()
        {
            // initialize datatable
            $('#dt-basic-example').dataTable({
                responsive: true
            });

            $('#saveForm').submit(function(event) {
                save(event);
            });
        });

        function add() {
            $("#modalTitle").html('Add Patient');
            reInitiateModal();

            $("#saveForm").attr("action", serverContext + "settings/patients/add");
            $("#saveModal").modal()
        }

        function reInitiateModal() {
            $("#id").val('');
            $("#name").val('');
            $("#description").val('');
            $("#active").val('');
        }

        function save(event){
            event.preventDefault();
            $("#btnSubmit").prop("disabled", true);
            var postUrl = $("#saveForm").attr("action");
            var formData= $("#saveForm").serialize();

            $.post(postUrl,formData ,function(data){
                $("#btnSubmit").prop("disabled", false);
                if(data.message == "success"){
                    $('#saveModal').modal('hide');
                    url = serverContext + "settings/patients";
                    sweetAlert('Congratulations!', 'The patient was saved successfully', 'success', 3000, false, false, false, url );
                }
            }).fail(function(data) {
                $("#btnSubmit").prop("disabled", false);
                sweetAlert('Whoops!', data.responseJSON.message, 'error', 3000, false, false, false);
            });

        }

        function findPermission(id) {
            var patient = searchArrayObjectById(id, patients);

            $("#modalTitle").html('Edit Patient');
            $("#name").val(patient.name);
            $("#description").val(patient.description);

            $("#saveForm").attr("action", serverContext + "settings/patients/edit");
            $('#saveForm').append('<input type="hidden" name="id" value="' + patient.id + '" />');
            $('#saveForm').append('<input type="hidden" name="active" value="' + patient.active + '" />');
            $("#saveModal").modal()
        }

        $('#saveModal').on('hidden.bs.modal', function () {
            reInitiateModal();
        })

        /*]]>*/
    </script>
</div>

</body>
</html>
