<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/admin4">

<head>
    <title>Dashboard</title>
</head>
<body>
<main id="js-page-content" role="main" class="page-content" layout:fragment="content">
    <ol class="breadcrumb page-breadcrumb">
        <li class="breadcrumb-item"><a th:href="@{/}">Home</a></li>
        <li class="breadcrumb-item active">Dashboard</li>
        <li class="position-absolute pos-top pos-right d-none d-sm-block"><span class="js-get-date"></span></li>
    </ol>
    <div class="subheader">
        <h1 class="subheader-title">
            <i class='subheader-icon fal fa-chart-area'></i> Dashboard
        </h1>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div id="panel-4" class="panel">
                <div class="panel-hdr">
                    <h2>
                        Recent <span class="fw-300"><i>Invoices</i></span>
                    </h2>
                </div>
                <div class="panel-container show">
                    <div class="panel-content">
                        <table id="dt-basic-example" class="table table-bordered table-hover table-striped w-100">
                            <thead class="bg-warning-200">
                            <tr>
                                <th scope="col">Invoice #</th>
                                <th scope="col">Session</th>
                                <th scope="col">Name</th>
                                <th scope="col">Date Created</th>
                                <th scope="col">Status</th>
                                <th scope="col">Amount</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="invoice: ${invoices}">
                                <td class="f-w-600" th:text="${invoice?.invoiceNumber}" />
                                <td th:text="${invoice?.sessionName}" />
                                <td th:text="${invoice?.billedTo}" />
                                <td th:text="${invoice?.createdAt}" />
                                <td>
                                    <span th:if="${invoice?.invoiceStatus.name() == 'PAID'}" class="badge badge-success badge-pill">Invoice Paid</span>
                                    <span th:if="${invoice?.invoiceStatus.name() == 'PENDING'}" class="badge badge-warning badge-pill">Payment Pending</span>
                                    <span th:if="${invoice?.invoiceStatus.name() == 'PROCESSING'}" class="badge badge-secondary badge-pill">Payment Processing</span>
                                    <span th:if="${invoice?.invoiceStatus.name() == 'FAILED'}" class="badge badge-danger badge-pill">Payment Failed</span>
                                </td>
                                <td>
                                    <span th:if="${invoice?.invoiceStatus.name() == 'PAID'}" class="badge badge-success badge-pill currency" th:text="${invoice?.amount}">123</span>
                                    <span th:if="${invoice?.invoiceStatus.name() == 'PENDING'}" class="badge badge-warning badge-pill currency" th:text="${invoice?.amount}">123</span>
                                    <span th:if="${invoice?.invoiceStatus.name() == 'PROCESSING'}" class="badge badge-secondary badge-pill currency" th:text="${invoice?.amount}">123</span>
                                    <span th:if="${invoice?.invoiceStatus.name() == 'FAILED'}" class="badge badge-danger badge-pill currency" th:text="${invoice?.amount}">123</span>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <!-- datatable end -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<div layout:fragment="page-scripts">
    <script th:inline="javascript">
        /*<![CDATA[*/

        $(document).ready(function()
        {
            $('.currency').each(function(i, obj) {
                var num = $(this).text();
                $(this).html(new Intl.NumberFormat('en-NG', { style: 'currency', currency: 'NGN' }).format(num))
            });
        });

        /*]]>*/
    </script>

    <script type="text/javascript">
        /* Activate smart panels */
        $('#js-page-content').smartPanel();

    </script>
    <!-- The order of scripts is irrelevant. Please check out the plugin pages for more details about these plugins below: -->
    <script th:src="@{/assets/js/statistics/peity/peity.bundle.js}"></script>
    <script th:src="@{/assets/js/statistics/flot/flot.bundle.js}"></script>
    <script th:src="@{/assets/js/statistics/easypiechart/easypiechart.bundle.js}"></script>
    <script th:src="@{/assets/js/datagrid/datatables/datatables.bundle.js}"></script>
    <script>

        $(document).ready(function()
        {

            /* init datatables */
            $('#dt-basic-example').dataTable(
                {
                    responsive: true,
                    dom: "<'row mb-3'<'col-sm-12 col-md-6 d-flex align-items-center justify-content-start'f><'col-sm-12 col-md-6 d-flex align-items-center justify-content-end'B>>" +
                        "<'row'<'col-sm-12'tr>>" +
                        "<'row'<'col-sm-12 col-md-5'i><'col-sm-12 col-md-7'p>>",
                    buttons: [
                        {
                            extend: 'colvis',
                            text: 'Column Visibility',
                            titleAttr: 'Col visibility',
                            className: 'btn-outline-default'
                        },
                        {
                            extend: 'csvHtml5',
                            text: 'CSV',
                            titleAttr: 'Generate CSV',
                            className: 'btn-outline-default'
                        },
                        {
                            extend: 'copyHtml5',
                            text: 'Copy',
                            titleAttr: 'Copy to clipboard',
                            className: 'btn-outline-default'
                        },
                        {
                            extend: 'print',
                            text: '<i class="fal fa-print"></i>',
                            titleAttr: 'Print Table',
                            className: 'btn-outline-default'
                        }

                    ]

                });



        });

    </script>
</div>

</body>
</html>
