<nav id="js-primary-nav" class="primary-nav" role="navigation" th:fragment="nav">
    <div class="nav-filter">
        <div class="position-relative">
            <input type="text" id="nav_filter_input" placeholder="Filter menu" class="form-control" tabindex="0">
            <a href="#" onclick="return false;" class="btn-primary btn-search-close js-waves-off" data-action="toggle" data-class="list-filter-active" data-target=".page-sidebar">
                <i class="fal fa-chevron-up"></i>
            </a>
        </div>
    </div>
    <div class="info-card">
        <img th:src="@{/assets/img/demo/avatars/avatar-admin.png}" class="profile-image rounded-circle" alt="Dr. Codex Lantern">
        <div class="info-card-text">
            <a href="#" class="d-flex align-items-center text-white">
                                    <span class="text-truncate text-truncate-sm d-inline-block">
                                        <span sec:authentication="principal.names">Name</span>
                                    </span>
            </a>
            <!--<span class="d-inline-block text-truncate text-truncate-sm">Toronto, Canada</span>-->
        </div>
        <img th:src="@{/assets/img/card-backgrounds/cover-2-lg.png}" class="cover" alt="cover">
        <a href="#" onclick="return false;" class="pull-trigger-btn" data-action="toggle" data-class="list-filter-active" data-target=".page-sidebar" data-focus="nav_filter_input">
            <i class="fal fa-angle-down"></i>
        </a>
    </div>
    <ul id="js-nav-menu" class="nav-menu">
        <li class="nav-title">General</li>
        <li class=""
            th:classappend="${(#httpServletRequest.getRequestURI() == '/dashboard' ? 'active open':'') + (#httpServletRequest.getRequestURI() == '/analytics' ? 'active':'')}">
            <a href="#" title="Application Intel" data-filter-tags="application intel">
                <i class="fal fa-chart-pie"></i>
                <span class="nav-link-text" data-i18n="nav.application_intel">Analytics</span>
            </a>
            <ul>
                <li class=""
                    th:classappend="${#httpServletRequest.getRequestURI() == '/dashboard' ? 'active':''}">
                    <a th:href="@{/dashboard}" title="Dashboard" data-filter-tags="analytics admin dashboard">
                        <span class="nav-link-text">Dashboard</span>
                    </a>
                </li>
            </ul>
        </li>

        <li class="" sec:authorize="hasAnyRole('CAN_VIEW_USER')"
            th:classappend="${#httpServletRequest.getRequestURI().startsWith('/user-management') ? 'active open':''}">
            <a href="#" title="User Management" data-filter-tags="user management">
                <i class="fal fa-users"></i>
                <span class="nav-link-text" data-i18n="nav.application_intel">User Management</span>
            </a>
            <ul>
                <li class="" sec:authorize="hasAnyRole('CAN_VIEW_USER')"
                    th:classappend="${#httpServletRequest.getRequestURI() == '/user-management/backoffice-users' ? 'active':''}">
                    <a th:href="@{/user-management/backoffice-users}" title="Back-office Users" data-filter-tags="user management back office users">
                        <span class="nav-link-text">Back-office Users</span>
                    </a>
                </li>
            </ul>
        </li>

        <li class="" sec:authorize="hasAnyRole('CAN_VIEW_ROLE')"
            th:classappend="${#httpServletRequest.getRequestURI().startsWith('/settings/permissions') ? 'active open':''}">
            <a th:href="@{/settings/permissions}" title="Permissions" data-filter-tags="settings permissions">
                <i class="fal fa-thumbs-up"></i>
                <span class="nav-link-text">Permissions</span>
            </a>
        </li>
        <li class="" sec:authorize="hasAnyRole('CAN_VIEW_ROLE')"
            th:classappend="${#httpServletRequest.getRequestURI().startsWith('/settings/roles') ? 'active open':''}">
            <a th:href="@{/settings/roles}" title="Roles" data-filter-tags="settings roles">
                <i class="fal fa-dumbbell"></i>
                <span class="nav-link-text">Roles</span>
            </a>
        </li>
        <li class=""
            th:classappend="${#httpServletRequest.getRequestURI().startsWith('/account/change-password') ? 'active open':''}">
            <a th:href="@{/account/change-password}" title="Change Password" data-filter-tags="account change password">
                <i class="fal fa-lock"></i>
                <span class="nav-link-text">Change Password</span>
            </a>
        </li>

    </ul>
    <div class="filter-message js-filter-message bg-success-600"></div>
</nav>

<div class="nav-footer shadow-top" th:fragment="nav-footer">
    <a href="#" onclick="return false;" data-action="toggle" data-class="nav-function-minify" class="hidden-md-down">
        <i class="ni ni-chevron-right"></i>
        <i class="ni ni-chevron-right"></i>
    </a>
    <ul class="list-table m-auto nav-footer-buttons">
        <li>
            <a href="javascript:void(0);" data-toggle="tooltip" data-placement="top" title="Chat logs">
                <i class="fal fa-comments"></i>
            </a>
        </li>
        <li>
            <a href="javascript:void(0);" data-toggle="tooltip" data-placement="top" title="Support Chat">
                <i class="fal fa-life-ring"></i>
            </a>
        </li>
        <li>
            <a href="javascript:void(0);" data-toggle="tooltip" data-placement="top" title="Make a call">
                <i class="fal fa-phone"></i>
            </a>
        </li>
    </ul>
</div>
