<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/admin4">

<head>
    <title>Change Password</title>
</head>
<body>
<main id="js-page-content" role="main" class="page-content" layout:fragment="content">
    <ol class="breadcrumb page-breadcrumb">
        <li class="breadcrumb-item"><a th:href="@{/dashboard}">Home</a></li>
        <li class="breadcrumb-item active">Change Password</li>
        <li class="position-absolute pos-top pos-right d-none d-sm-block"><span class="js-get-date"></span></li>
    </ol>
    <div class="subheader">
        <h1 class="subheader-title">
            <i class='subheader-icon fal fa-table'></i> Change Password
        </h1>
    </div>
    <div class="row">
        <div class="col-xl-12">
            <div id="panel-1" class="panel">
                <div class="panel-hdr">
                    <h2 sec:authorize="hasAnyRole('ROLE_CAN_MAKE_FEE_SETUP')">
                        <button type="button" class="btn btn-primary" onclick="add();">Add New</button>
                    </h2>
                    <div class="panel-toolbar">
                        <button class="btn btn-panel" data-action="panel-collapse" data-toggle="tooltip" data-offset="0,10" data-original-title="Collapse"></button>
                        <button class="btn btn-panel" data-action="panel-fullscreen" data-toggle="tooltip" data-offset="0,10" data-original-title="Fullscreen"></button>
                        <button class="btn btn-panel" data-action="panel-close" data-toggle="tooltip" data-offset="0,10" data-original-title="Close"></button>
                    </div>
                </div>
                <div class="panel-container show">
                    <div class="panel-content">
                        <div id="appToasts"></div>

                        <form id="saveForm" method="post" th:action="@{/account/change-password}">
                            <div class="card mb-5">
                                <div class="card-body p-3">
                                    <h5 class="text-success">
                                        Password Details
                                        <small class="mt-0 mb-3 text-muted">
                                            Provide your old password, new password and confirm your new password
                                        </small>
                                        <span class="badge badge-success fw-n position-absolute pos-top pos-right mt-3 mr-3">1</span>
                                    </h5>
                                    <div class="fw-300 mb-0">
                                        <div class="demo-v-spacing" id="app-alert"></div>

                                        <div class="mt-3 form-row">
                                            <div class="form-schoolGroup col-md-4">
                                                <label class="form-label" for="oldPassword">Old Password</label>
                                                <input class="form-control" id="oldPassword" name="oldPassword" type="password" required="">
                                            </div>
                                            <div class="form-schoolGroup col-md-4">
                                                <label class="form-label" for="password">New Password</label>
                                                <input class="form-control" id="password" name="password" type="password" required="">
                                            </div>
                                            <div class="form-schoolGroup col-md-4">
                                                <label class="form-label" for="confirmPassword">Confirm New Password</label>
                                                <input class="form-control" id="confirmPassword" name="confirmPassword" type="password" required="">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col text-right">
                                    <button id="btnSubmit" type="submit" class="btn btn-primary">Submit</button>
                                    <button id="btnWait" class="btn btn-primary" type="button" disabled>
                                        <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
                                        <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
                                        <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
                                        <span class="sr-only">Wait...</span>
                                    </button>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<div layout:fragment="page-scripts">
    <script th:src="@{/assets/js/nsukmfb.js}"></script>
    <script th:inline="javascript">
        /*<![CDATA[*/
        var serverContext = /*[[@{/}]]*/ 'Server Context';
        $('#btnSubmit').show();
        $('#btnWait').hide();

        $(document).ready(function()
        {
            $('#saveForm').submit(function(event) {
                save(event);
            });
        });

        function save(event){
            event.preventDefault();
            $("#btnSubmit").prop("disabled", true);
            $("#btnSubmit").hide()
            $("#btnWait").show();
            var postUrl = $("#saveForm").attr("action");
            var formData= $("#saveForm").serialize();

            $.post(postUrl,formData ,function(data){
                if(data.message == "success"){
                    $('#saveModal').modal('hide');
                    url = serverContext + "dashboard";
                    sweetAlert('Congratulations!', 'Your password was changed successfully', 'success', 3000, false, false, false, url );
                }
            }).fail(function(data) {
                $("#btnSubmit").show();
                $("#btnWait").hide();
                $("#btnSubmit").prop("disabled", false);
                sweetAlert('Whoops!', data.responseJSON.message, 'error', 3000, false, false, false);
            });
        }

        /*]]>*/
    </script>

</div>

</body>
</html>
