<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/admin3">
<head>
    <meta charset="utf-8">
    <title>
        Change Password
    </title>
    <div layout:fragment="page-css">
        <!-- Plugins css start-->
        <link rel="stylesheet" type="text/css" th:href="@{/assets/css/date-picker.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/assets/css/owlcarousel.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/assets/css/prism.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/assets/css/whether-icon.css}">
    </div>
</head>
<body>
<div class="page-body" layout:fragment="content">
    <div class="container-fluid">
        <div class="page-header">
            <div class="row">
                <div class="col-sm-6">
                    <h3>Change Password</h3>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a th:href="@{/dashboard}">Home</a></li>
                        <li class="breadcrumb-item active">Change Password</li>
                    </ol>
                </div>
                <div class="col-sm-6">
                    <!-- Bookmark Start-->
                    <div class="bookmark">

                    </div>
                    <!-- Bookmark Ends-->
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header pb-0">
                        <h5>Change Password</h5><span>Fill in the details below to change you password</span>
                    </div>
                    <div class="card-body">
                        <form id="saveForm" method="post" th:action="@{/account/change-password}">
                            <div class="row g-3">
                                <div class="col-md-4">
                                    <label class="form-label" for="oldPassword">Old Password</label>
                                    <input class="form-control" id="oldPassword" name="oldPassword" type="password" required="">
                                </div>
                                <div class="col-md-4">
                                    <label class="form-label" for="password">New Password</label>
                                    <input class="form-control" id="password" name="password" type="password" required="">
                                </div>
                                <div class="col-md-4">
                                    <label class="form-label" for="confirmPassword">Confirm New Password</label>
                                    <input class="form-control" id="confirmPassword" name="confirmPassword" type="password" required="">
                                </div>
                            </div>
                            <div style="padding-top: 25px">
                                <button class="btn btn-primary" type="submit" id="btnSubmit">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div layout:fragment="page-scripts">
    <script th:inline="javascript">
        /*<![CDATA[*/
        var serverContext = /*[[@{/}]]*/ 'Server Context';

        $(document).ready(function()
        {
            $('#saveForm').submit(function(event) {
                save(event);
            });
        })

        function save(event){
            event.preventDefault();
            $("#btnSubmit").prop("disabled", true);
            var postUrl = $("#saveForm").attr("action");
            var formData= $("#saveForm").serialize();

            $.post(postUrl,formData ,function(data){
                if(data.message == "success"){
                    $('#saveModal').modal('hide');
                    url = serverContext + "dashboard";
                    sweetAlert('Congratulations!', 'Your password was changed successfully', 'success', 3000, false, false, false, url );
                }
            }).fail(function(data) {
                $("#btnSubmit").prop("disabled", false);
                sweetAlert('Whoops!', data.responseJSON.message, 'error', 3000, false, false, false);
            });
        }
        /*]]>*/
    </script>
</div>

</body>
</html>
