<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/auth2">
<head>
    <meta charset="utf-8">
    <title>
        Registration Confirmation
    </title>
</head>
<body>
<div class="col-xl-7 p-0" layout:fragment="content">
    <div class="login-card">
        <form class="theme-form register-form" method="post" th:action="@{/account/confirmation}">
            <img th:src="@{/assets/images/logo.png}" style="padding-bottom: 25px" alt="logo">
            <h6>Confirm your account</h6>
            <div class="alert alert-info" th:if="${param.info}" role="alert">
                <button class="close" data-close="alert"></button>
                <span th:text="${param.info[0]}"></span>
            </div>
            <div class="alert alert-danger" th:if="${param.error}">
                <button class="close" data-close="alert"></button>
                <span>
                        The token supplied is either invalid or it has expired.
                        <a href="#" onClick="resend();" id="resendtoken">Click here</a> to
                        get a new registration token.
                    </span>
            </div>
            <div class="alert alert-danger" th:if="${param.failed}">
                <button class="close" data-close="alert"></button>
                <span th:text="${param.failed[0]}"></span>
            </div>

            <input type="hidden" name="token" th:value="${token}" />

            <div class="row">
                <div class="form-schoolGroup col-md-12">
                    <label for="password">Password</label>
                    <div class="input-schoolGroup">
                        <input type="password" class="form-control" id="password" name="password" placeholder="Password">
                        <span class="error-block" id="passwordError" style="display: none;"></span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="form-schoolGroup col-md-12">
                    <label for="password"> ConfirmPassword</label>
                    <div class="input-schoolGroup">
                        <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" placeholder="Confirm Password">
                        <span class="error-block" id="confirmPasswordError" style="display: none;"></span>
                    </div>
                </div>
            </div>

            <div class="form-schoolGroup">
                <button id="btnSubmit" class="btn btn-primary btn-block" type="submit">Save</button>
            </div>
        </form>
        <form th:action="@{/account/resendtoken}" id="resendTokenForm"
              name="resendTokenForm">
            <input type="hidden" id="token" name="token" th:value="${token}" />
        </form>
    </div>
</div>

<div layout:fragment="page-scripts">
    <script th:inline="javascript">
        /*<![CDATA[*/

        /*]]>*/
    </script>
</div>

</body>
</html>
