<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/auth2">
<head>
    <meta charset="utf-8">
    <title>
        Forgot Password
    </title>
</head>
<body>
<div class="col-xl-7 p-0" layout:fragment="content">
    <div class="login-card">
        <form class="theme-form register-form" method="post" th:action="@{/account/forgotpassword}">
            <img th:src="@{/assets/images/logo.png}" style="padding-bottom: 25px" alt="logo">
            <h6>Fill in your email to reset your password</h6>
            <div class="alert alert-danger" th:if="${param.error}" role="alert">
                <button class="close" data-close="alert"></button>
                <span th:text="${param.error[0]}"></span>
            </div>
            <div class="alert alert-info" th:if="${param.info}" role="alert">
                <button class="close" data-close="alert"></button>
                <span th:text="${param.info[0]}"></span>
            </div>

            <div class="row">
                <div class="form-schoolGroup col-md-12">
                    <label for="usernameOrEmail">Email</label>
                    <div class="input-schoolGroup">
                        <input type="email" class="form-control" id="usernameOrEmail" name="usernameOrEmail" placeholder="test@example.com">
                        <span class="error-block" id="usernameOrEmailError" style="display: none;"></span>
                    </div>
                </div>
            </div>

            <div class="form-schoolGroup">
                <button id="btnSubmit" class="btn btn-primary btn-block" type="submit">Submit</button>
            </div>

            <p>Remember your password?<a class="ms-2" th:href="@{/account/login}">Click here</a></p>
        </form>
    </div>
</div>

<div layout:fragment="page-scripts">
    <script th:inline="javascript">
        /*<![CDATA[*/

        /*]]>*/
    </script>
</div>

</body>
</html>
