<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/auth4">
<head>
    <meta charset="utf-8">
    <title>
        Forgot Password
    </title>
</head>
<body>
<div class="page-content-wrapper bg-transparent m-0" layout:fragment="content">
    <div class="height-10 w-100 shadow-lg px-4 bg-brand-gradient">
        <div class="d-flex align-items-center container p-0">
            <div class="page-logo width-mobile-auto m-0 align-items-center justify-content-center p-0 bg-transparent bg-img-none shadow-0 height-9">
                <a href="javascript:void(0)" class="page-logo-link press-scale-down d-flex align-items-center">
                        <img th:src="@{/assets/images/qampus_logo2.png}" alt="QAMPUS PAY" aria-roledescription="logo">
                </a>
            </div>
        </div>
    </div>
    <div class="flex-1" th:style="'background: url(/assets/img/svg/pattern-1.svg) no-repeat center bottom fixed; background-size: cover;'">
        <div class="container py-4 py-lg-5 my-lg-5 px-4 px-sm-0">
            <div class="row">
                <div class="col col-md-6 col-lg-7 hidden-sm-down">
                    <h2 class="fs-xxl fw-500 mt-4 text-white">
                        Fill in the required details to reset your password
                        <small class="h3 fw-300 mt-3 mb-5 text-white opacity-60">
                            QampusPay is the most versatile, scalable, secure and cost-efficient way for anybody to make school payments.
                        </small>
                    </h2>
                    <a href="#" class="fs-lg fw-500 text-white opacity-70">Learn more &gt;&gt;</a>
                    <div class="d-sm-flex flex-column align-items-center justify-content-center d-md-block">
                        <div class="px-0 py-1 mt-5 text-white fs-nano opacity-50">
                            Find us on social media
                        </div>
                        <div class="d-flex flex-row opacity-70">
                            <a href="#" class="mr-2 fs-xxl text-white">
                                <i class="fab fa-facebook-square"></i>
                            </a>
                            <a href="#" class="mr-2 fs-xxl text-white">
                                <i class="fab fa-twitter-square"></i>
                            </a>
                            <a href="#" class="mr-2 fs-xxl text-white">
                                <i class="fab fa-google-plus-square"></i>
                            </a>
                            <a href="#" class="mr-2 fs-xxl text-white">
                                <i class="fab fa-linkedin"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-5 col-xl-4 ml-auto">
                    <h1 class="text-white fw-300 mb-3 d-sm-block d-md-none">
                        Secure login
                    </h1>
                    <div class="card p-4 rounded-plus bg-faded">
                        <form method="post" th:action="@{/account/forgotpassword}">
                            <div class="alert alert-danger" th:if="${param.error}" role="alert">
                                <button class="close" data-close="alert"></button>
                                <span th:text="${param.error[0]}"></span>
                            </div>
                            <div class="alert alert-info" th:if="${param.info}" role="alert">
                                <button class="close" data-close="alert"></button>
                                <span th:text="${param.info[0]}"></span>
                            </div>

                            <div class="form-schoolGroup">
                                <label class="form-label" for="usernameOrEmail">Email</label>
                                <input type="email" id="usernameOrEmail" name="usernameOrEmail" class="form-control form-control-lg" placeholder="Your email" required>
                            </div>
                            <div class="row no-gutters">
                                <div class="col-lg-6 pr-lg-1 my-2">
                                    <button type="submit" class="btn btn-info btn-block btn-lg">Submit</button>
                                </div>
                            </div>
                            <div class="blankpage-footer text-left">
                                <a th:href="@{/account/login}"><strong>Click here if you remember your password</strong></a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="position-absolute pos-bottom pos-left pos-right p-3 text-center text-white">
                2022 Qampus Pay. Powered by Techvibes International LTD&nbsp;<a href='https://www.techvibesltd.com' class='text-white opacity-40 fw-500' title='techvibesltd.com' target='_blank'>techvibesltd.com</a>
            </div>
        </div>
    </div>
</div>

<div layout:fragment="page-scripts">
    <script th:inline="javascript">
        /*<![CDATA[*/
        $("#js-login-btn").click(function(event)
        {

            // Fetch form to apply custom Bootstrap validation
            var form = $("#js-login")

            if (form[0].checkValidity() === false)
            {
                event.preventDefault()
                event.stopPropagation()
            }

            form.addClass('was-validated');
            // Perform ajax submit here...
        });
        /*]]>*/
    </script>
</div>

</body>
</html>
