<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/auth">
<head>
    <meta charset="utf-8">
    <title>
        Sign In
    </title>
</head>
<body>
<div class="h-100 no-gutters row" layout:fragment="content">
    <div class="d-none d-lg-block col-lg-4">
        <div class="slider-light">
            <div class="slick-slider">
                <div>
                    <div class="position-relative h-100 d-flex justify-content-center align-items-center bg-plum-plate" tabindex="-1">
                        <div class="slide-img-bg" style="background-image: url('../../assets/images/originals/city.jpg');"></div>
                        <div class="slider-content"><h3>Our Motto</h3>
                            <p>The motto of the University is "<strong>Knowledge for development</strong>". It is our resolve to provide social, economic, and technological development to the state.</p></div>
                    </div>
                </div>
                <div>
                    <div class="position-relative h-100 d-flex justify-content-center align-items-center bg-premium-dark" tabindex="-1">
                        <div class="slide-img-bg" style="background-image: url('../../assets/images/originals/citynights.jpg');"></div>
                        <div class="slider-content"><h3>Our Mission</h3>
                            <p>To provide and promote qualitative, innovative and stimulating teaching, learning and research environment to enable individuals develop their full potentials for efficient, effective, dedicated and selfless service to the State, the Nation and Humanity.</p></div>
                    </div>
                </div>
                <div>
                    <div class="position-relative h-100 d-flex justify-content-center align-items-center bg-sunny-morning" tabindex="-1">
                        <div class="slide-img-bg" style="background-image: url('../../assets/images/originals/citydark.jpg');"></div>
                        <div class="slider-content"><h3>Our Vision</h3>
                            <p>To be a world class Centre of excellence for the development of the individual and society.</p></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="h-100 d-flex bg-white justify-content-center align-items-center col-md-12 col-lg-8">
        <div class="mx-auto app-login-box col-sm-12 col-md-10 col-lg-9">
            <div class="app-logo"></div>
            <h4 class="mb-0">
                <span class="d-block">Welcome back,</span>
                <span>Please sign in to your account.</span></h4>
            <h6 class="mt-3">No account? <a th:href="@{/account/register}" class="text-primary">Sign up now</a></h6>
            <div class="divider row"></div>
            <div>
                <form class="" method="post" th:action="@{/account/login}">
                    <div class="form-row">
                        <div class="col-md-6">
                            <div class="position-relative form-schoolGroup">
                                <label for="email" class="">Email</label>
                                <input name="email" id="email" placeholder="Email here..." type="email" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="position-relative form-schoolGroup">
                                <label for="password" class="">Password</label>
                                <input name="password" id="password" placeholder="Password here..." type="password" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="position-relative form-check"><input name="check" id="exampleCheck" type="checkbox" class="form-check-input"><label for="exampleCheck" class="form-check-label">Keep me logged in</label></div>
                    <div class="divider row"></div>
                    <div class="d-flex align-items-center">
                        <div class="ml-auto"><a href="javascript:void(0);" class="btn-lg btn btn-link">Recover Password</a>
                            <button class="btn btn-primary btn-lg">Login to Dashboard</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div layout:fragment="page-scripts">
    <script th:inline="javascript">
        /*<![CDATA[*/

        /*]]>*/
    </script>
</div>

</body>
</html>
