<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/auth2">
<head>
    <meta charset="utf-8">
    <title>
        Sign In
    </title>
</head>
<body>
<div class="col-xl-7 p-0" layout:fragment="content">
    <div class="login-card">
        <form class="theme-form login-form" method="post" th:action="@{/account/login}">
            <img th:src="@{/assets/images/logo.png}" style="padding-bottom: 25px" alt="logo">
            <h6>Welcome back! Log in to your account.</h6>

            <div class="alert alert-info" th:if="${param.info}" role="alert">
                <button class="close" data-close="alert"></button>
                <span th:text="${param.info[0]}"></span>
            </div>
            <div class="alert alert-danger" th:if="${param.error}">
                <button class="close" data-close="alert"></button>
                <span>
                        The token supplied is either invalid or it has expired.
                        <a href="#" onClick="resend();" id="resendtoken">Click here</a> to
                        get a new registration token.
                    </span>
            </div>
            <div class="alert alert-danger" th:if="${param.failed}">
                <button class="close" data-close="alert"></button>
                <span th:text="${param.failed[0]}"></span>
            </div>

            <div class="form-schoolGroup">
                <label>Email Address</label>
                <div class="input-schoolGroup"><span class="input-schoolGroup-text"><i class="icon-email"></i></span>
                    <input class="form-control" type="email" name="email" id="email" required="" placeholder="test@gmail.com">
                </div>
            </div>
            <div class="form-schoolGroup">
                <label>Password</label>
                <div class="input-schoolGroup"><span class="input-schoolGroup-text"><i class="icon-lock"></i></span>
                    <input class="form-control" type="password" name="password" id="password" required="" placeholder="*********">
                </div>
            </div>
            <div class="form-schoolGroup">
                <div class="checkbox">
                    <input id="checkbox1" type="checkbox">
                    <label class="text-muted" for="checkbox1">Remember password</label>
                </div><a class="link" th:href="@{/account/forgotpassword}">Forgot password?</a>
            </div>
            <div class="form-schoolGroup">
                <button class="btn btn-primary btn-block" type="submit">Sign In</button>
            </div>

            <p>Don't have account?<a class="ms-2" th:href="@{/account/register}">Create Account</a></p>
        </form>
    </div>
</div>

<div layout:fragment="page-scripts">
    <script th:inline="javascript">
        /*<![CDATA[*/

        /*]]>*/
    </script>
</div>

</body>
</html>
