<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/auth4">
<head>
    <meta charset="utf-8">
    <title>
        Register
    </title>
    <link rel="stylesheet" media="screen, print" th:href="@{/assets/css/formplugins/select2/select2.bundle.css}">
</head>
<body>
<div class="page-content-wrapper bg-transparent m-0" layout:fragment="content">
    <div class="height-10 w-100 shadow-lg px-4 bg-brand-gradient">
        <div class="d-flex align-items-center container p-0">
            <div class="page-logo width-mobile-auto m-0 align-items-center justify-content-center p-0 bg-transparent bg-img-none shadow-0 height-9">
                <a href="javascript:void(0)" class="page-logo-link press-scale-down d-flex align-items-center">
                    <img th:src="@{/assets/images/qampus_logo2.png}" alt="QAMPUS PAY" aria-roledescription="logo">
                    <!--                    <span class="page-logo-text mr-1">MFB</span>-->
                </a>
            </div>
            <a th:href="@{/account/login}" class="btn-link text-white ml-auto">
                Sign In
            </a>
        </div>
    </div>
    <div class="flex-1" th:style="'background: url(/assets/img/svg/pattern-1.svg) no-repeat center bottom fixed; background-size: cover;'">
        <div class="container py-4 py-lg-5 my-lg-5 px-4 px-sm-0">
            <div class="row">
                <div class="col-xl-12">
                    <h2 class="fs-xxl fw-500 mt-4 text-white text-center">
                        Register now, its free!
                        <small class="h3 fw-300 mt-3 mb-5 text-white opacity-60 hidden-sm-down">
                            QampusPay is the most versatile, scalable, secure and cost-efficient way for anybody to make school payments.
                        </small>
                    </h2>
                </div>
                <div class="col-xl-6 ml-auto mr-auto">
                    <div class="card p-4 rounded-plus bg-faded">
                        <form method="post" th:action="@{/account/register}">
                            <div class="alert alert-danger" id="error" role="alert">
                                <button class="close" data-close="alert"></button>
                                <span id="errorText"></span>
                            </div>

                            <div class="form-schoolGroup row">
                                <label class="col-xl-12 form-label" for="firstName">Your first and last name</label>
                                <div class="col-6 pr-1">
                                    <input class="form-control" type="text" name="firstName" id="firstName" required="" placeholder="First Name">
                                </div>
                                <div class="col-6 pl-1">
                                    <input class="form-control" type="text" name="lastName" id="lastName" required="" placeholder="Last Name">
                                </div>
                            </div>
                            <div class="form-schoolGroup row">
                                <label class="col-xl-12 form-label" for="email">Your email address and matriculation number</label>
                                <div class="col-6 pr-1">
                                    <input class="form-control" type="email" name="email" id="email" required="" placeholder="test@gmail.com">
                                </div>
                                <div class="col-6 pl-1">
                                    <input class="form-control" type="text" name="matricNumber" id="matricNumber" required="" placeholder="Matric/Student Number">
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-schoolGroup col-6">
                                    <label>Institution</label>
                                    <div class="input-schoolGroup">
                                        <select class="form-control" id="institutionUuid" name="institutionUuid" required>

                                        </select>
                                    </div>
                                </div>
                                <div class="form-schoolGroup col-6">
                                    <label>Department</label>
                                    <div class="input-schoolGroup">
                                        <select class="form-control" id="departmentUuid" name="departmentUuid" required>

                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-schoolGroup col-6">
                                    <label>Programme Type</label>
                                    <div class="input-schoolGroup">
                                        <select class="form-control" id="studentType" name="studentType" required>

                                        </select>
                                    </div>
                                </div>
                                <div class="form-schoolGroup col-6">
                                    <label class="form-label" for="levelUuid">Level</label>
                                    <select class="form-control" id="levelUuid" name="levelUuid" required>

                                    </select>
                                </div>
                            </div>

                            <div class="row no-gutters">
                                <div class="col-md-4 ml-auto text-right">
                                    <button id="btnSubmit" type="submit" class="btn btn-block btn-info btn-lg mt-3">Sign Up</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="position-absolute pos-bottom pos-left pos-right p-3 text-center text-white">
                2022 Qampus Pay. Powered by Techvibes International LTD&nbsp;<a href='https://www.techvibesltd.com' class='text-white opacity-40 fw-500' title='techvibesltd.com' target='_blank'>techvibesltd.com</a>
            </div>
        </div>
    </div>
</div>

<div layout:fragment="page-scripts">
    <script th:src="@{/assets/js/formplugins/select2/select2.bundle.js}"></script>
    <script th:inline="javascript">
        /*<![CDATA[*/
        $("#js-login-btn").click(function(event)
        {

            // Fetch form to apply custom Bootstrap validation
            var form = $("#js-login")

            if (form[0].checkValidity() === false)
            {
                event.preventDefault()
                event.stopPropagation()
            }

            form.addClass('was-validated');
            // Perform ajax submit here...
        });

        $('form').submit(function(event) {
            save(event, $(this).attr("action"));
        });

        var serverContext = /*[[@{/}]]*/ 'Server Context';
        var studentTypes = [[${studentTypes}]];
        var institutions = [[${institutions}]];

        $(document).ready(function()
        {
            $('#error').hide();

            $("#btnSubmit").attr("disabled", false);
            $('#institutionUuid').select2();
            $('#departmentUuid').select2();
            $('#studentType').select2();
            $('#level').select2();

            let opts = '<option disabled selected value="">Select One</option>';
            $("#institutionUuid").html(opts);
            $("#departmentUuid").html(opts);
            $("#levelUuid").html(opts);

            $.each(institutions, function(i, item) {
                opts = opts + `<option value="${item.uuid}">${item.name}</option>`;
            });
            $("#institutionUuid").html(opts);

            opts = '';
            $.each(studentTypes, function( index, item ){
                opts = opts + '<option value="' + item + '">' + item + '</option>';
            });
            $("#studentType").html(opts);

            $('#institutionUuid').change(function(){
                let institutionUuid = $('#institutionUuid').val();
                let options = '<option disabled selected value="">Select One</option>';
                $("#departmentUuid").html(options);
                $("#levelUuid").html(options);

                $.get( serverContext + `miscellaneous/registration-data/${institutionUuid}`, function(data){
                    options= '';
                    $.each(data.departments, function(i, item) {
                        options = options + `<option value="${item.uuid}">${item.name}</option>`;
                    });
                    $("#departmentUuid").html(options);

                    options= '';
                    $.each(data.levels, function(i, item) {
                        options = options + `<option value="${item.uuid}">${item.name}</option>`;
                    });
                    $("#levelUuid").html(options);
                }).fail(function(data) {
                    console.log("Unable to retrieve departments and levels");
                    sweetAlert('Whoops!', "Unable to retrieve departments and levels", 'error', 3000, false, false, false);
                });
            });
        });

        function save(event, postUrl){
            event.preventDefault();
            $("#btnSubmit").attr("disabled", true);

            var formData= $('form').serialize();
            // console.log("form data: " + formData);
            $.post(postUrl,formData ,function(data){
                if(data.message == "success"){
                    url = serverContext + "account/login?info=Your account was created successfully. Check your email to activate your account.";
                    window.location.href = url;
                }
            })
                .fail(function(data) {
                    $('#error').show();
                    $('#errorText').html(data.responseJSON.message);
                    $("#btnSubmit").attr("disabled", false);
                });

        }

        /*]]>*/
    </script>
</div>

</body>
</html>
