<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/auth2">
<head>
    <meta charset="utf-8">
    <title>
        Sign Up
    </title>
</head>
<body>
<div class="col-xl-7 p-0" layout:fragment="content">
    <div class="login-card">
        <form class="theme-form register-form" method="post" th:action="@{/account/register}">
            <img th:src="@{/assets/images/logo.png}" style="padding-bottom: 25px" alt="logo">
            <h6>Enter your details to create an account</h6>
            <div class="alert alert-danger" id="error" role="alert">
                <button class="close" data-close="alert"></button>
                <span id="errorText"></span>
            </div>
            <div class="form-schoolGroup">
                <label>Your Name</label>
                <div class="small-schoolGroup">
                    <div class="input-schoolGroup"><span class="input-schoolGroup-text"><i class="icon-user"></i></span>
                        <input class="form-control" type="text" name="firstName" id="firstName" required="" placeholder="First Name">
                    </div>
                    <div class="input-schoolGroup"><span class="input-schoolGroup-text"><i class="icon-user"></i></span>
                        <input class="form-control" type="text" name="lastName" id="lastName" required="" placeholder="Last Name">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-schoolGroup col-md-6">
                    <label>Email Address</label>
                    <div class="input-schoolGroup"><span class="input-schoolGroup-text"><i class="icon-email"></i></span>
                        <input class="form-control" type="email" name="email" id="email" required="" placeholder="test@gmail.com">
                    </div>
                </div>
                <div class="form-schoolGroup col-md-6">
                    <label>Matriculation Number</label>
                    <div class="input-schoolGroup"><span class="input-schoolGroup-text"><i class="fa fa-graduation-cap"></i></span>
                        <input class="form-control" type="text" name="matricNumber" id="matricNumber" required="" placeholder="Matric/Student Number">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-schoolGroup col-md-6">
                    <label>Department</label>
                    <div class="input-schoolGroup">
                        <select class="form-control" id="departmentUuid" name="departmentUuid" required>

                        </select>
                    </div>
                </div>
                <div class="form-schoolGroup col-md-6">
                    <label>Programme Type</label>
                    <div class="input-schoolGroup">
                        <select class="form-control" id="studentType" name="studentType" required>

                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-schoolGroup col-md-12">
                    <label>Level</label>
                    <div class="input-schoolGroup">
                        <select class="form-control" id="level" name="level" required>

                        </select>
                    </div>
                </div>
            </div>
            <div class="form-schoolGroup">
                <button id="btnSubmit" class="btn btn-primary btn-block" type="submit">Sign Up</button>
            </div>

            <p>Already have an account?<a class="ms-2" th:href="@{/account/login}">Sign In</a></p>
        </form>
    </div>
</div>

<div layout:fragment="page-scripts">
    <script th:inline="javascript">
        /*<![CDATA[*/
        $('#error').hide();

        $('form').submit(function(event) {
            save(event, $(this).attr("action"));
        });

        var serverContext = /*[[@{/}]]*/ 'Server Context';
        var studentTypes = [[${studentTypes}]];
        var departments = [[${departments}]];
        var levels = [[${levels}]];

        $(document).ready(function()
        {
            $("#btnSubmit").attr("disabled", false);
            $('#departmentUuid').select2();
            $('#studentType').select2();
            $('#level').select2();

            $('#studentType').change(function(){
                let studentLevels;
                let opts = '';
                if ($('#studentType').val() === 'UNDERGRADUATE') {
                    studentLevels = levels.filter(undergraduateLevels);
                } else {
                    studentLevels = levels.filter(postgraduateLevels);
                }

                opts = '';
                $.each(studentLevels, function( index, item ){
                    opts = opts + '<option value="' + item.name + '">' + item.label + '</option>';
                });
                $("#level").html(opts);
            });

            let options = '';
            $.each(departments, function( index, item ){
                options = options + '<option value="' + item.uuid + '">' + item.name + '</option>';
            });
            $("#departmentUuid").html(options);

            options = '';
            const studentLevels = levels.filter(postgraduateLevels);
            $.each(studentLevels, function( index, item ){
                options = options + '<option value="' + item.name + '">' + item.label + '</option>';
            });
            $("#level").html(options);

            options = '';
            $.each(studentTypes, function( index, item ){
                options = options + '<option value="' + item + '">' + item + '</option>';
            });
            $("#studentType").html(options);
        });

        function undergraduateLevels(level) {
            return level.name !== 'PG';
        }

        function postgraduateLevels(level) {
            return level.name === 'PG' || level.name === 'APPLICANT';
        }

        function save(event, postUrl){
            event.preventDefault();
            $("#btnSubmit").attr("disabled", true);

            var formData= $('form').serialize();
            // console.log("form data: " + formData);
            $.post(postUrl,formData ,function(data){
                if(data.message == "success"){
                    url = serverContext + "account/login?info=Your account was created successfully. Check your email to activate your account.";
                    window.location.href = url;
                }
            })
                .fail(function(data) {
                    $('#error').show();
                    $('#errorText').html(data.responseJSON.message);
                    $("#btnSubmit").attr("disabled", false);
                });

        }

        /*]]>*/
    </script>
</div>

</body>
</html>
