<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/admin4">

<head>
    <title>Back-office Users</title>
</head>
<body>
<main id="js-page-content" role="main" class="page-content" layout:fragment="content">
    <ol class="breadcrumb page-breadcrumb">
        <li class="breadcrumb-item"><a th:href="@{/dashboard}">Home</a></li>
        <li class="breadcrumb-item active">Back-office Users</li>
        <li class="position-absolute pos-top pos-right d-none d-sm-block"><span class="js-get-date"></span></li>
    </ol>
    <div class="subheader">
        <h1 class="subheader-title">
            <i class='subheader-icon fal fa-table'></i> Back-office Users
        </h1>
    </div>
    <div class="row">
        <div class="col-xl-12">
            <div id="panel-1" class="panel">
                <div class="panel-hdr">
                    <h2 sec:authorize="hasAnyRole('ROLE_CAN_ADD_USER')">
                        <button type="button" class="btn btn-primary" onclick="add();">Add New</button>
                    </h2>
                    <div class="panel-toolbar">
                        <button class="btn btn-panel" data-action="panel-collapse" data-toggle="tooltip" data-offset="0,10" data-original-title="Collapse"></button>
                        <button class="btn btn-panel" data-action="panel-fullscreen" data-toggle="tooltip" data-offset="0,10" data-original-title="Fullscreen"></button>
                        <button class="btn btn-panel" data-action="panel-close" data-toggle="tooltip" data-offset="0,10" data-original-title="Close"></button>
                    </div>
                </div>
                <div class="panel-container show">
                    <div class="panel-content">
                        <div id="appToasts"></div>

                        <!-- datatable start -->
                        <table id="dt-basic-example" class="table table-bordered table-hover table-striped w-100">
                            <thead>
                            <tr>
                                <th>Last Name</th>
                                <th>First Name</th>
                                <th>Email</th>
                                <th>Type</th>
                                <th>Roles</th>
                                <th>Last Logged In</th>
                                <th>Last Updated</th>
                                <th>Status</th>
                                <th>Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="backofficeUser: ${backofficeUsers}">
                                <td th:text="${backofficeUser?.user.lastName}" />
                                <td th:text="${backofficeUser?.user.firstName}" />
                                <td th:text="${backofficeUser?.user.email}" />
                                <td th:text="${backofficeUser.backOfficeType}" />
                                <td th:text="${backofficeUser?.user.firstRoleName}" />
                                <td th:text="${backofficeUser?.user.lastLoggedIn}" />
                                <td th:text="${backofficeUser.updatedAt}" />
                                <td>
                                    <span th:if="${backofficeUser.active}" class="badge badge-primary">Enabled</span>
                                    <span th:if="${not backofficeUser.active}" class="badge badge-info">Disabled</span>
                                </td>
                                <td>
                                    <a href='javascript:void(0);' th:attr="onclick=|findUser('${backofficeUser.id}')|"
                                       class='btn btn-sm btn-outline-primary mr-2' title='Edit' sec:authorize="hasAnyRole('ROLE_CAN_ADD_USER')">
                                        <i class="fal fa-edit"></i></a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <!-- datatable end -->

                        <!-- Modal Right -->
                        <div id="saveModal" class="modal fade default-example-modal-right" tabindex="-1" role="dialog" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-right">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title h4"><span id="modalTitle">Add User</span></h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true"><i class="fal fa-times"></i></span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="card mb-5">
                                            <div class="card-body p-3">

                                                <div class="fw-300 mb-0">
                                                    <form id="saveForm" method="post">
                                                        <div id="inputItems">
                                                            <div class="form-schoolGroup">
                                                                <label class="form-label" for="lastName">Last Name</label>
                                                                <input type="text" id="lastName" name="lastName"
                                                                       class="form-control" required>
                                                            </div>
                                                            <div class="form-schoolGroup">
                                                                <label class="form-label" for="firstName">First Name</label>
                                                                <input type="text" id="firstName" name="firstName"
                                                                       class="form-control" required>
                                                            </div>
                                                            <div class="form-schoolGroup">
                                                                <label class="form-label" for="email">Email</label>
                                                                <input type="email" id="email"
                                                                       name="email" class="form-control" required>
                                                            </div>
                                                            <div class="form-schoolGroup">
                                                                <label class="form-label" for="schoolGroupUuid">Group</label>
                                                                <select class="form-control" id="schoolGroupUuid" name="schoolGroupUuid" required>

                                                                </select>
                                                            </div>
                                                            <div class="form-schoolGroup">
                                                                <label class="form-label" for="roleNames">Role</label>
                                                                <select class="form-control" id="roleNames" name="roleNames" required>

                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col text-right">
                                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                                <button id="btnSubmit" type="submit" class="btn btn-primary">Save</button>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<div layout:fragment="page-scripts">
    <!-- datatble responsive bundle contains:
	+ jquery.dataTables.js
	+ dataTables.bootstrap4.js
	+ dataTables.autofill.js
	+ dataTables.buttons.js
	+ buttons.bootstrap4.js
	+ buttons.html5.js
	+ buttons.print.js
	+ buttons.colVis.js
	+ dataTables.colreorder.js
	+ dataTables.fixedcolumns.js
	+ dataTables.fixedheader.js
	+ dataTables.keytable.js
	+ dataTables.responsive.js
	+ dataTables.rowgroup.js
	+ dataTables.rowreorder.js
	+ dataTables.scroller.js
	+ dataTables.select.js
	+ datatables.styles.app.js
	+ datatables.styles.buttons.app.js -->
    <script th:src="@{/assets/js/datagrid/datatables/datatables.bundle.js}"></script>
    <script th:src="@{/assets/js/nsukmfb.js}"></script>
    <script th:inline="javascript">
        /*<![CDATA[*/
        var serverContext = /*[[@{/}]]*/ 'Server Context';
        var backofficeUsers = [[${backofficeUsers}]];
        var backOfficeTypes = [[${backOfficeTypes}]];
        var roles = [[${roles}]];
        var schoolGroups = [[${schoolGroups}]];

        $(document).ready(function()
        {
            // initialize datatable
            $('#dt-basic-example').dataTable({
                responsive: true
            });

            $('#roleNames').select2({
                dropdownParent: $('#saveModal')
            });

            $('#schoolGroupUuid').select2({
                dropdownParent: $('#saveModal')
            });

            $('#saveForm').submit(function(event) {
                save(event);
            });
        });

        function add() {
            $("#modalTitle").html('Add User');
            reInitiateModal();

            $("#saveForm").attr("action", serverContext + "user-management/backoffice-users/add");
            $("#saveModal").modal('show');
        }

        function reInitiateModal() {
            $("#id").val('');
            $("#lastName").val('');
            $("#firstName").val('');
            $("#email").val('');
            $("#email").prop('disabled', false);
            $("#schoolGroupUuid").val('');

            $("#active").val('');

            let options = '<option disabled selected value="">Select One</option>';
            $.each(schoolGroups, function( index, item ){
                options = options + '<option value="' + item.uuid + '">' + item.name + '</option>';
            });
            $("#schoolGroupUuid").html(options);

            options = '';
            $.each(roles, function( index, item ){
                options = options + '<option value="' + item.name + '">' + item.name + '</option>';
            });
            $("#roleNames").html(options);

            if ($('#activeDiv').length > 0) {
                $('#activeDiv').remove();
            }
        }

        function save(event){
            event.preventDefault();

            $("#btnSubmit").prop("disabled", true);
            var postUrl = $("#saveForm").attr("action");
            var formData= $("#saveForm").serialize();

            $.post(postUrl,formData ,function(data){
                $("#btnSubmit").prop("disabled", false);
                if(data.message == "success"){
                    $('#saveModal').modal('hide');
                    url = serverContext + "user-management/backoffice-users";
                    sweetAlert('Congratulations!', 'The user was saved successfully', 'success', 3000, false, false, false, url );
                }
            }).fail(function(data) {
                $("#btnSubmit").prop("disabled", false);
                sweetAlert('Whoops!', data.responseJSON.message, 'error', 3000, false, false, false);
            });
        }

        function findUser(id) {
            var backofficeUser = searchArrayObjectById(id, backofficeUsers);

            $("#modalTitle").html('Edit User');
            $("#lastName").val(backofficeUser.user.lastName);
            $("#firstName").val(backofficeUser.user.firstName);
            $("#email").val(backofficeUser.user.email);
            $("#email").prop('disabled', true);

            $("#saveForm").attr("action", serverContext + "user-management/backoffice-users/edit");
            $('#saveForm').append('<input type="hidden" name="id" value="' + backofficeUser.id + '" />');

            var options = '';
            $.each(backOfficeTypes, function( index, item ){
                if(backofficeUser.backOfficeType === item){
                    options = options + '<option value="' + item + '" selected>' + item + '</option>';
                } else{
                    options = options + '<option value="' + item + '">' + item + '</option>';
                }
            });
            $("#backOfficeType").html(options);

            options = '';
            $.each(roles, function( index, item ){
                if(backofficeUser.user.firstRoleame === item.name){
                    options = options + '<option value="' + item.name + '" selected>' + item.name + '</option>';
                } else{
                    options = options + '<option value="' + item.name + '">' + item.name + '</option>';
                }
            });
            $("#roleNames").html(options);

            var activeDiv = $(document.createElement('div')).attr("id", "activeDiv").attr("class", "mb-3");

            var statusDiv = '<label class="form-label" for="active">Status</label>';
            statusDiv += '<select class="form-control" id="active" name="active" required>';
            options = '';
            var  statuses = [{'key': 'Enabled', 'value': true}, {'key': 'Disabled', 'value': false}];
            $.each(statuses, function( index, item ){
                if(backofficeUser.active == item.value){
                    options = options + '<option value="' + item.value + '" selected>' + item.key + '</option>';
                } else{
                    options = options + '<option value="' + item.value + '">' + item.key + '</option>';
                }
            });
            statusDiv += options + '</select>';

            activeDiv.after().html(statusDiv);
            activeDiv.appendTo("#inputItems");

            $("#saveModal").modal('show');
        }

        $('#saveModal').on('hidden.bs.modal', function () {
            reInitiateModal();
        })

        /*]]>*/
    </script>

</div>

</body>
</html>
