<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/admin3">
<head>
    <title>
<<<<<<< HEAD
        Back-office Users
=======
        Roles
>>>>>>> 62e464b (initial add)
    </title>
</head>
<body>
<div class="page-body" layout:fragment="content">
    <div class="container-fluid">
        <div class="page-header">
            <div class="row">
                <div class="col-sm-6">
<<<<<<< HEAD
                    <h3>Back-office Users</h3>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a th:href="@{/dashboard}">Home</a></li>
                        <li class="breadcrumb-item">User Managemennt</li>
                        <li class="breadcrumb-item active">Back-office Users</li>
=======
                    <h3>Roles</h3>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a th:href="@{/dashboard}">Home</a></li>
                        <li class="breadcrumb-item active">Roles</li>
>>>>>>> 62e464b (initial add)
                    </ol>
                </div>
                <div class="col-sm-6">
                    <!-- Bookmark Start-->
                    <div class="bookmark">
                        <ul>
<<<<<<< HEAD
                            <li sec:authorize="hasAnyRole('ROLE_CAN_ADD_USER')">
=======
                            <li sec:authorize="hasAnyRole('ROLE_CAN_ADD_ROLE')">
>>>>>>> 62e464b (initial add)
                                <button class="btn btn-primary" type="button" onclick="add();"><i data-feather="edit"></i> Add New</button>
                            </li>
                        </ul>
                    </div>
                    <!-- Bookmark Ends-->
                </div>
            </div>
        </div>
    </div>
    <!-- Container-fluid starts-->
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <div class="dt-ext table-responsive">
                            <table class="display" id="responsive">
                                <thead>
                                <tr>
<<<<<<< HEAD
                                    <th>Last Name</th>
                                    <th>First Name</th>
                                    <th>Email</th>
                                    <th>Type</th>
                                    <th>Roles</th>
                                    <th>Last Logged In</th>
=======
                                    <th>Name</th>
                                    <th>Description</th>
                                    <th>Type</th>
>>>>>>> 62e464b (initial add)
                                    <th>Last Updated</th>
                                    <th>Status</th>
                                    <th>Actions</th>
                                </tr>
                                </thead>
                                <tbody>
<<<<<<< HEAD
                                <tr th:each="backofficeUser: ${backofficeUsers}">
                                    <td th:text="${backofficeUser?.user.lastName}" />
                                    <td th:text="${backofficeUser?.user.firstName}" />
                                    <td th:text="${backofficeUser?.user.email}" />
                                    <td th:text="${backofficeUser.backOfficeType}" />
                                    <td th:text="${backofficeUser?.user.firstRoleName}" />
                                    <td th:text="${backofficeUser?.user.lastLoggedIn}" />
                                    <td th:text="${backofficeUser.updatedAt}" />
                                    <td>
                                        <span th:if="${backofficeUser.active}" class="badge badge-primary">Enabled</span>
                                        <span th:if="${not backofficeUser.active}" class="badge badge-info">Disabled</span>
                                    </td>
                                    <td>
                                        <a href='javascript:void(0);' th:attr="onclick=|findUser('${backofficeUser.id}')|"
                                           class='btn btn-sm btn-outline-primary mr-2' title='Edit' sec:authorize="hasAnyRole('ROLE_CAN_ADD_USER')">
                                            <i class="fa fa-edit"></i></a>
=======
                                <tr th:each="role: ${roles}">
                                    <td th:text="${role.name}" />
                                    <td th:text="${role.description}" />
                                    <td th:text="${role.roleType}" />
                                    <td th:text="${role.updatedAt}" />
                                    <td>
                                        <span th:if="${role.active}" class="badge badge-primary">Enabled</span>
                                        <span th:if="${not role.active}" class="badge badge-info">Disabled</span>
                                    </td>
                                    <td>
                                        <a href='javascript:void(0);' th:attr="onclick=|findRole('${role.id}')|"
                                           class='btn btn-sm btn-outline-primary mr-2' title='Edit' sec:authorize="hasAnyRole('ROLE_CAN_ADD_ROLE')">
                                            <i class="fa fa-edit"></i></a>
                                        <a th:href="@{('/settings/roles/permissions/' + ${role.uuid})}"
                                           class='btn btn-sm btn-outline-success mr-2' title='Permissions' sec:authorize="hasAnyRole('ROLE_CAN_ADD_ROLE')">
                                            <i class="fa fa-thumbs-up"></i></a>
>>>>>>> 62e464b (initial add)
                                    </td>
                                </tr>
                                </tbody>
                                <tfoot>
                                <tr>
<<<<<<< HEAD
                                    <th>Last Name</th>
                                    <th>First Name</th>
                                    <th>Email</th>
                                    <th>Type</th>
                                    <th>Roles</th>
                                    <th>Last Logged In</th>
=======
                                    <th>Name</th>
                                    <th>Description</th>
                                    <th>Type</th>
>>>>>>> 62e464b (initial add)
                                    <th>Last Updated</th>
                                    <th>Status</th>
                                    <th>Actions</th>
                                </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Container-fluid Ends-->
    <div class="modal fade" id="saveModal" tabindex="-1" role="dialog" aria-labelledby="saveModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form id="saveForm" method="post">
                    <div class="modal-header">
<<<<<<< HEAD
                        <h5 class="modal-title"><span id="modalTitle">Add User</span></h5>
=======
                        <h5 class="modal-title"><span id="modalTitle">Add Role</span></h5>
>>>>>>> 62e464b (initial add)
                        <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div id="inputItems">
                            <div class="mb-3">
<<<<<<< HEAD
                                <label class="form-label" for="lastName">Last Name</label>
                                <input type="text" id="lastName" name="lastName"
                                       class="form-control" required>
                            </div>
                            <div class="mb-3">
                                <label class="form-label" for="firstName">First Name</label>
                                <input type="text" id="firstName" name="firstName"
                                       class="form-control" required>
                            </div>
                            <div class="mb-3">
                                <label class="form-label" for="email">Email</label>
                                <input type="email" id="email"
                                       name="email" class="form-control" required>
                            </div>
                            <div class="mb-3">
                                <label class="form-label" for="backOfficeType">Type</label>
                                <select class="form-control" id="backOfficeType" name="backOfficeType" required>

                                </select>
                            </div>
                            <div class="mb-3">
                                <label class="form-label" for="roleNames">Role</label>
                                <select class="form-control" id="roleNames" name="roleNames" required>
=======
                                <label class="form-label" for="name">Name</label>
                                <input type="text" id="name" name="name"
                                       class="form-control" required>
                            </div>
                            <div class="mb-3">
                                <label class="form-label" for="description">Description</label>
                                <input type="text" id="description"
                                       name="description" class="form-control" required>
                            </div>
                            <div class="mb-3">
                                <label class="form-label" for="roleType">Role Type</label>
                                <select class="form-control" id="roleType" name="roleType" required>
>>>>>>> 62e464b (initial add)

                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" type="button" data-bs-dismiss="modal">Close</button>
                        <button class="btn btn-primary" type="submit" id="btnSubmit">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div layout:fragment="page-scripts">
    <script th:src="@{/assets/js/nsukmfb.js}"></script>
    <script th:inline="javascript">
        /*<![CDATA[*/
        var serverContext = /*[[@{/}]]*/ 'Server Context';
<<<<<<< HEAD
        var backofficeUsers = [[${backofficeUsers}]];
        var backOfficeTypes = [[${backOfficeTypes}]];
        var roles = [[${roles}]];

        $(document).ready(function()
        {
            $('#roleNames').select2({
                dropdownParent: $('#saveModal')
            });

            $('#backOfficeType').select2({
                dropdownParent: $('#saveModal')
=======
        var roles = [[${roles}]];
        var roleTypes = [[${roleTypes}]];

        $(document).ready(function()
        {
            // initialize datatable
            $('#dt-basic-example').dataTable({
                responsive: true
>>>>>>> 62e464b (initial add)
            });

            $('#saveForm').submit(function(event) {
                save(event);
            });
        });

        function add() {
<<<<<<< HEAD
            $("#modalTitle").html('Add User');
            reInitiateModal();

            $("#saveForm").attr("action", serverContext + "user-management/backoffice-users/add");
=======
            $("#modalTitle").html('Add Role');
            reInitiateModal();

            $("#saveForm").attr("action", serverContext + "settings/roles/add");
>>>>>>> 62e464b (initial add)
            $("#saveModal").modal('show');
        }

        function reInitiateModal() {
            $("#id").val('');
<<<<<<< HEAD
            $("#lastName").val('');
            $("#firstName").val('');
            $("#email").val('');
            $("#email").prop('disabled', false);

            $("#active").val('');

            let options = '';
            $.each(backOfficeTypes, function( index, item ){
                options = options + '<option value="' + item + '">' + item + '</option>';
            });
            $("#backOfficeType").html(options);

            options = '';
            $.each(roles, function( index, item ){
                options = options + '<option value="' + item.name + '">' + item.name + '</option>';
            });
            $("#roleNames").html(options);
=======
            $("#name").val('');
            $("#description").val('');
            $("#active").val('');

            let options = '';
            $.each(roleTypes, function( index, item ){
                options = options + '<option value="' + item + '">' + item + '</option>';
            });
            $("#roleType").html(options);
>>>>>>> 62e464b (initial add)

            if ($('#activeDiv').length > 0) {
                $('#activeDiv').remove();
            }
        }

        function save(event){
            event.preventDefault();

            $("#btnSubmit").prop("disabled", true);
            var postUrl = $("#saveForm").attr("action");
            var formData= $("#saveForm").serialize();

            $.post(postUrl,formData ,function(data){
                $("#btnSubmit").prop("disabled", false);
                if(data.message == "success"){
                    $('#saveModal').modal('hide');
<<<<<<< HEAD
                    url = serverContext + "user-management/backoffice-users";
                    sweetAlert('Congratulations!', 'The user was saved successfully', 'success', 3000, false, false, false, url );
=======
                    url = serverContext + "settings/roles";
                    sweetAlert('Congratulations!', 'The role was saved successfully', 'success', 3000, false, false, false, url );
>>>>>>> 62e464b (initial add)
                }
            }).fail(function(data) {
                $("#btnSubmit").prop("disabled", false);
                sweetAlert('Whoops!', data.responseJSON.message, 'error', 3000, false, false, false);
            });
        }

<<<<<<< HEAD
        function findUser(id) {
            var backofficeUser = searchArrayObjectById(id, backofficeUsers);

            $("#modalTitle").html('Edit User');
            $("#lastName").val(backofficeUser.user.lastName);
            $("#firstName").val(backofficeUser.user.firstName);
            $("#email").val(backofficeUser.user.email);
            $("#email").prop('disabled', true);

            $("#saveForm").attr("action", serverContext + "user-management/backoffice-users/edit");
            $('#saveForm').append('<input type="hidden" name="id" value="' + backofficeUser.id + '" />');

            var options = '';
            $.each(backOfficeTypes, function( index, item ){
                if(backofficeUser.backOfficeType === item){
=======
        function findRole(id) {
            var role = searchArrayObjectById(id, roles);

            $("#modalTitle").html('Edit Role');
            $("#name").val(role.name);
            $("#description").val(role.description);

            $("#saveForm").attr("action", serverContext + "settings/roles/edit");
            $('#saveForm').append('<input type="hidden" name="id" value="' + role.id + '" />');

            var options = '<option disabled="disabled">Please select one</option>';
            $.each(roleTypes, function( index, item ){
                if(role.roleType === item){
>>>>>>> 62e464b (initial add)
                    options = options + '<option value="' + item + '" selected>' + item + '</option>';
                } else{
                    options = options + '<option value="' + item + '">' + item + '</option>';
                }
            });
<<<<<<< HEAD
            $("#backOfficeType").html(options);

            options = '';
            $.each(roles, function( index, item ){
                if(backofficeUser.user.firstRoleame === item.name){
                    options = options + '<option value="' + item.name + '" selected>' + item.name + '</option>';
                } else{
                    options = options + '<option value="' + item.name + '">' + item.name + '</option>';
                }
            });
            $("#roleNames").html(options);
=======
            $("#roleType").html(options);
>>>>>>> 62e464b (initial add)

            var activeDiv = $(document.createElement('div')).attr("id", "activeDiv").attr("class", "mb-3");

            var statusDiv = '<label class="form-label" for="active">Status</label>';
            statusDiv += '<select class="form-control" id="active" name="active" required>';
            options = '';
            var  statuses = [{'key': 'Enabled', 'value': true}, {'key': 'Disabled', 'value': false}];
            $.each(statuses, function( index, item ){
<<<<<<< HEAD
                if(backofficeUser.active == item.value){
=======
                if(role.active == item.value){
>>>>>>> 62e464b (initial add)
                    options = options + '<option value="' + item.value + '" selected>' + item.key + '</option>';
                } else{
                    options = options + '<option value="' + item.value + '">' + item.key + '</option>';
                }
            });
            statusDiv += options + '</select>';

            activeDiv.after().html(statusDiv);
            activeDiv.appendTo("#inputItems");

            $("#saveModal").modal('show');
        }

        $('#saveModal').on('hidden.bs.modal', function () {
            reInitiateModal();
        })

        /*]]>*/
    </script>
</div>
</body>
</html>
